.top-header {
  justify-content: space-between;
}

.navbar {
  background-color: #313131;
}

nav {
  text-align:center;
  font-family:lato;
  font-size:24px;
  height:60px;
}

ul {
  list-style-type: none;
  margin-top: 1%;
  margin-bottom:1%;
  display: inline-block;
  text-align:left;
}

li {
  float:left;
  padding-right:24px;
  color:#313131;
}

li:hover {
  text-decoration: underline;
   color:#313131;
}

#menuicon {
    display:none;
}
 
h1 {
  margin-top:10px;
  font-family:playfair Display;
  font-style: italic;
  font-size:40px;
  color:#F8E3D5;
  padding-right:1em;
  padding-left:1em;
}

.container1 {
  background-color:#61372C;
  padding-top: 5%;
  padding-bottom: 5%;
}

p {
  margin-top: 50px;
  font-family:lato;
  font-size:20px;
  color: #F8E3D5;
}

.shoppingimg {
  margin-left: 2em;
  margin-right: 2em;
  padding-left:2em;
  padding-right:2em;
}

.intro {
  padding-right:2em;
  padding-left:2em;
}

.how {
  background-color: #F8E3D5;
}

.container {
  margin-top: 3em;
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: #F8E3D5;
}

h2 {
  font-family:playfair Display;
  font-style: italic;
  font-size:38px;
  color:#313131;
  margin-bottom: 1em;
  text-align: center;
}

.carousel-inner {
  height:auto;
  width:250px;
  margin:auto;
}

.steps {
  padding-top: 1em;
  margin-bottom: 1em;
  font-family:lato;
  font-size:22px;
}

.steps:hover {
  text-decoration: none;
  font-weight:bold;
}

.footerlink{
  display:block;
  width:100%;
}

footer {
  margin-left: 3em;
  margin-right:3em;
}

button {
  margin-left:0.25em;
  margin-top:0.25em;
  margin-bottom:0.25em;
  padding: 0.45em;
  background-color:#313131;
  color:#F8E3D5;
  border: none; 
  font-family:lato;
}

button:hover {
  background-color:#F8E3D5;
  color:#313131;
}

@media only screen and (max-width: 991px) {
  .shoppingimg {
    width:400px;
    height:auto;
    margin:auto;
    display:block;
  }
}

@media only screen and (max-width: 900px) {
  nav ul{
    display:none;
  }

  #menuicon {
    padding-top:10px;
    padding-right:10px;
    display:flex;
    float:right;
  } 

  h1 {
    font-family:playfair Display;
    font-style: italic;
    font-size:40px;
    color:#F8E3D5;
  }

  p {
    font-family:lato;
    font-size:20px;
    color: #F8E3D5;
  }

  .shoppingimg {
    width:400px;
    height:auto;
    margin:auto;
    display:block;
  }

  .intro {
    padding-right:1em;
  }

  .steps {
   margin-top:1em;
  }

}